  
fieldset {
  border: 1px solid #000 !important;
  // overflow-y: auto;
  // overflow-x: hidden;
  // max-height: 200px;
}

.invalid {
  border: 1px solid #DC3545 !important;
}

.invalid-text {
  color: #DC3545 !important;
}

.products-list-container {
  background-color: #eaeaea;
}