<h2>Aggiungi fattura</h2>

<form [formGroup]="invoiceForm" (ngSubmit)="saveInvoice()">
  <div class="row">
    <div class="col-4">
      <label for="number" class="form-label" [class.invalid-text]="isInvalid('number')">Numero *</label>
      <input
        id="number"
        type="number"
        formControlName="number"
        class="form-control"
        [class.invalid]="invoiceForm.controls['number'].invalid && invoiceForm.controls['number'].touched"
      />
      <div *ngIf="isInvalid('number')" class="text-danger">Campo obbligatorio</div>
    </div>
    
    <div class="col-4">
      <label for="year" class="form-label" [class.invalid-text]="isInvalid('year')">Anno *</label>
      <input
        id="year"
        type="number"
        formControlName="year"
        class="form-control border-dark"
        [class.invalid]="invoiceForm.controls['year'].invalid && invoiceForm.controls['year'].touched"
      />
      <div *ngIf="isInvalid('year')" class="text-danger">Campo obbligatorio</div>
    </div>
    <div class="col-4">
      <label for="date" class="form-label" [class.invalid-text]="isInvalid('date')">Data emissione *</label>
      <input
        id="date"
        type="date"
        formControlName="date"
        class="form-control border-dark"
        [class.invalid]="isInvalid('date')"
      />
      <div *ngIf="isInvalid('date')" class="text-danger">Campo obbligatorio</div>
    </div>

    <!-- Customer data -->
    <div class="col-12">
      <fieldset class="border p-2">
        <legend class="float-none w-auto p-2">Dati cliente</legend>

        <div class="row">
          <div class="col-4">
            <label for="clientName" class="form-label" [class.invalid-text]="isInvalid('clientName')">Nome *</label>
            <input
              id="clientName"
              type="text"
              formControlName="clientName"
              class="form-control border-dark"
              [class.invalid]="isInvalid('clientName')"
            />
            <div *ngIf="isInvalid('clientName')" class="text-danger">Campo obbligatorio</div>

          </div>
          <div class="col-4">
            <label for="clientVAT" class="form-label" [class.invalid-text]="isInvalid('clientVAT')">Partita IVA *</label>
            <input
              id="clientVAT"
              type="text"
              maxlength="11"
              formControlName="clientVAT"
              class="form-control border-dark"
              [class.invalid]="isInvalid('clientVAT')"
            />
            <div *ngIf="isInvalid('clientVAT')" class="text-danger">Campo obbligatorio</div>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="col-12">

      <fieldset class="border p-2 products-fieldset">
        <legend class="float-none w-auto p-2">Prodotti e servizi</legend>
        <div class="row">
          <div class="col-12 text-end">
            <button class="btn btn-primary" (click)="addProductOrService()">Aggiungi</button>
          </div>

          <div *ngIf="products.length > 0">
            <div
            formArrayName="products"
            *ngFor="let control of products.controls; let i = index"
          >
            <ng-container [formGroupName]="i">
              <div class="row">
                <div class="col-2">
                  <label [for]="'amount'+i" class="form-label" [class.invalid-text]="isInvalidProduct(control, 'amount')">Prezzo</label>
                  <input [id]="'amount'+i" type="number" class="form-control border-dark" [class.invalid]="isInvalidProduct(control, 'amount')" formControlName="amount" />
                  <div *ngIf="isInvalidProduct(control, 'amount')" class="text-danger">Campo obbligatorio</div>
                </div>

                <div class="col-3">
                  <label [for]="'description'+i" class="form-label" [class.invalid-text]="isInvalidProduct(control, 'description')">Descrizione</label>
                  <input [id]="'description'+i" type="text" class="form-control border-dark" [class.invalid]="isInvalidProduct(control, 'description')" formControlName="description" />
                  <div *ngIf="isInvalidProduct(control, 'description')" class="text-danger">Campo obbligatorio</div>
                </div>
                
                <div class="col-2">
                  <label [for]="'paymentMode'+i" class="form-label" [class.invalid-text]="isInvalidProduct(control, 'paymentMode')">Modalit&agrave; pagamento</label>
                  <select [id]="'paymentMode'+i" class="form-select border-dark" [class.invalid]="isInvalidProduct(control, 'paymentMode')" formControlName="paymentMode">
                    <option value="">Seleziona</option>
                    <option *ngFor="let paymentMode of invoicesOptions.paymentModes" [value]="paymentMode.code">{{ paymentMode.label }}</option>
                  </select>
                  <div *ngIf="isInvalidProduct(control, 'paymentMode')" class="text-danger">Campo obbligatorio</div>
                </div>
      
                <div class="col-2">
                  <label [for]="'paymentSolution'+i" class="form-label" [class.invalid-text]="isInvalidProduct(control, 'paymentSolution')">Estremi pagamento</label>
                  <select [id]="'paymentSolution'+i" class="form-select border-dark" [class.invalid]="isInvalidProduct(control, 'paymentSolution')" formControlName="paymentSolution">
                    <option value="">Seleziona</option>
                    <option *ngFor="let paymentSolution of invoicesOptions.paymentSolutions" [value]="paymentSolution.code">{{ paymentSolution.label }}</option>
                  </select>
                  <div *ngIf="isInvalidProduct(control, 'paymentSolution')" class="text-danger">Campo obbligatorio</div>
                </div>
      
                <div class="col-3 text\-end">
                  <div class="mb-2">&nbsp;</div>
                  <button type="button" class="btn btn-danger" (click)="onRemoveProduct(i)" *ngIf="products.length>1">Elimina</button>
                </div>
              </div>
              <!-- TODO do not print after the last element -->
              <div class="col-12">
                <hr>
              </div>
            </ng-container>
          </div>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="col-12 text-end">
      <h4 for="total" class="form-label">Totale {{ getTotal() }} &euro;</h4>
    </div>

    <div class="col-6 mt-3">
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="invoiceForm.invalid"
        title=""
      >
        Salva
      </button>
      <button
        type="button"
        class="btn btn-secondary ms-2"
        (click)="onUndo()"
        title=""
      >
        Annulla
      </button>
    </div>
  </div>

  <div class="text-end">
    * Campi obbligatori
  </div>
</form>

<!--
<h3>Debug</h3>
<pre>{{ invoiceForm.value | json }}</pre>
<br>
{{ invoiceForm.valid | json }}
<br>
{{ invoiceForm.errors | json }}
 -->
 